:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-letra: #464646;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
header{
    width: 35%;
}
nav {
    width: 50%;
}

