 .formcontato{
    width: 100%;
    height: 50vw;
    background: #758daf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formcontato__contacto {
    display: flex;
    width: 80%;
    height: 80%;
}
.formcontato--esquerda {
    background: #ffffff;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formcontato__text { 
    width: 60%;
    height: 100%;
    padding-left: 1rem;
}
.formcontato__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 0.9vw;
    margin-top: 15px;
    color: var(--cor-de-link);
}
.formcontato__subtext {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 1.9vw;
    color: var(--cor-de-letra);
}
.formcontato__img {
    width: 60%;
} 

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68.2%;
}
.formcontato__textarea {
    height: 20%;
}
.formcontato__input {
    height: 9%;
}
.formcontato__botao{
    background: #2A7AE4;
    color: #ffffff;
    width: 35%;
    height: 12%;
    border: none;
}
.error__form {
    font-size: 0.8rem;
    color: #f50808;
    margin: 2% 0;
}

@media (max-width: 425px) {
    .formcontato--esquerda {
        display: none;
    }
    .formcontato{
        height: 30rem;
    }
    .formcontato__title{
        font-size: 4.5vw;
    }
    .formcontato__subtext{
        font-size: 3.5vw;
        line-height: 3.9vw;
    }
    .formcontato__text {
        width: 100%;
    }
    .formcontato__botao {
        width: 50%;
        height: 15%;
    }
    .formcontato__textarea {
        height: 50%;
    }
    .formcontato__form {
        height: 80%;
    }
}

@media (min-width: 425px) and (max-width:768px) {
    .formcontato--esquerda {
        display: none;
    }
    .formcontato{
        height: 100vw;
    }
    .formcontato__title{
        font-size: 4.5vw;
    }
    .formcontato__subtext{
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .formcontato__text {
        width: 100%;
    }
    .formcontato__botao {
        width: 45%;
        height: 10%;
    }
}
